body {
  margin: 0;
  font-family: "Montserrat", sans-serif; /* Tüm projeye buradan yayılır */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
  color: #333;
  min-height: 100vh;
}
